@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {

    --color-orange-500: #FF8D00;
    --color-orange-700: #FF9D24;
    --color-white: #fff;    
    --color-black: #000;
    --color-gray-200: #333;
    --color-gray-300: #666;
    --color-gray-400: #999;
    --color-gray-500: #CCC;
    --color-gray-600: #E6E6E6;

    --font-Prompt: "Prompt", sans-serif; 

}

body {
    font-family: 'Prompt', sans-serif;
}

@layer components {
    h1 {
        @apply text-2xl 
        md:text-3xl 
        lg:text-4xl 
        leading-9 
        md:leading-11.25
        lg:leading-14 
        font-bold;
    }

    h2 {
        @apply text-xl 
        md:text-2xl 
        lg:text-3xl 
        leading-8 
        md:leading-9.75 
        lg:leading-11.25 
        font-semibold;
    }

    h3 {
        @apply text-lg 
        md:text-xl 
        lg:text-2xl 
        leading-7 
        md:leading-8.25 
        lg:leading-9 
        font-semibold;
    }

    h4 {
        @apply text-base 
        md:text-lg 
        lg:text-xl 
        leading-6 
        md:leading-7 
        lg:leading-7.5 
        font-semibold;
    }

    h5 {
        @apply text-sm 
        md:text-sm 
        lg:text-sm 
        leading-5 
        md:leading-5 
        lg:leading-5.25 
        font-light;
    }

    p {
        @apply text-sm 
        md:text-base 
        lg:text-base 
        leading-6 
        md:leading-5.5 
        lg:leading-6 
        font-medium;
    }
}